<h1>
    Biodata
</h1>

In [1]:
NamaLengkap = input("Masukkan Nama Lengkap Anda: ")
TTL = input("Masukkan TTL Anda: ")
Alamat = input("Masukkan Alamat Anda: ")
JenisKelamin = input("Masukkan Jenis Kelamin Anda: ")
Agama = input("Masukkan Agama Anda: ")
    
print("Nama Lengkap : {}".format(NamaLengkap))
print("TTL : {}".format(TTL))
print("Alamat : {}".format(Alamat))
print("Jenis Kelamin : {}".format(JenisKelamin))
print("Agama : {}".format(Agama))

Masukkan Nama Lengkap Anda:  MUHAMMAD NADJARIEL BALDAN
Masukkan TTL Anda:  17-05-2006
Masukkan Alamat Anda:  Jl. Selakaso Kel. Babakan Kec. Cibeureum
Masukkan Jenis Kelamin Anda:  Laki-Laki
Masukkan Agama Anda:  Islam

Nama Lengkap : MUHAMMAD NADJARIEL BALDAN
TTL : 17-05-2006
Alamat : Jl. Selakaso Kel. Babakan Kec. Cibeureum
Jenis Kelamin : Laki-Laki
Agama : Islam

<h1>
    Kalimat
</h1>

In [3]:
#UNIVERSITAS NUSA PUTRA SUKABUMI
teks = input("Masukkan Kalimat:")
kata = teks.split()

# a. putra nusa
Output_a = "{} {}".format(kata[2].lower(), kata[1].lower())
print("a.", Output_a)
# b. NIVERSITAS NSA PTRA SKABMI
Output_b = "{} {}{} {}{} {}{}{}".format(teks[1:11], teks[12],teks[14:16], teks[17],teks[19:22], teks[23],teks[25:28],teks[29:])
print("b.", Output_b)
# c. SUKABUMI PUTRA NUSA UNIVERSITAS
Output_c = "{} {} {} {}".format(kata[3], kata[2], kata[1], kata[0])
print("c.", Output_c)
# d. UNPS
Output_d = "{}{}{}{}".format(teks[0], teks[12], teks[17], teks[23])
print("d.", Output_d)
# e. TAS SAPU BUMI
Output_e = "{} {}{} {}".format(teks[8:11], teks[14:16], teks[17:19], teks[27:])
print("e.", Output_e)

Masukkan Kalimat: UNIVERSITAS NUSA PUTRA SUKABUMI

a. putra nusa
b. NIVERSITAS NSA PTRA SKABMI
c. SUKABUMI PUTRA NUSA UNIVERSITAS
d. UNPS
e. TAS SAPU BUMI