In [3]:
name = "Wawan"
address,province = "Jl.Cisaat","7413413"
age = 32
scorePython = 85.7
isMarried = True

print("Nama :", name)
print("Alamat :",address)
print("Umur :",age)
print("Nilai Pemrograman:",scorePython)
print("Status Menikah:",isMarried)
print("Propinsi:",province)

Nama : Wawan
Alamat : Jl.Cisaat
Umur : 32
Nilai Pemrograman: 85.7
Status Menikah: True
Propinsi: 7413413

In [2]:
print("Tipe data <name>", type(name))
print("Tipe data<address>",type(address))
print("Tipe data<age>", type(age))
print("Tipe data<scorePython>", type(scorePython))
print("Tipe data<isMarried>", type(isMarried))

Tipe data <name> <class 'str'>
Tipe data<address> <class 'str'>
Tipe data<age> <class 'int'>
Tipe data<scorePython> <class 'float'>
Tipe data<isMarried> <class 'bool'>

In [5]:
#Casting / Konversi Tipe Data 
#1. String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt + 2,strToFloat,strToBool, sep="-")

7413415-7413413.0-True

In [8]:
#2. Int ke (str,float,boolean)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-")

32-32.0-True

In [11]:
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr,floatToInt,floatToBool, sep="-")

85.7-85-True

In [12]:
desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0x443 #1091

print("Nilai desimal :", desimal)
print("Nilai biner:", biner)
print("Nilai octal:", octal)
print("Nilai hexa", hexa)

print("Nilai biner dari:", desimal, ":", bin(desimal))
print("Nilai octal dari:", desimal, ":", oct (desimal))
print("Nilai hexa dari:", desimal, ":", hex(desimal))

Nilai desimal : 500
Nilai biner: 10
Nilai octal: 255
Nilai hexa 1091
Nilai biner dari: 500 : 0b111110100
Nilai octal dari: 500 : 0o764
Nilai hexa dari: 500 : 0x1f4

In [19]:
city = "SUKABUMI"
length = len(city)
print(city[0])
print(length)
print(city[length - 1])

S
8
I

In [41]:
#Tipe Data Koleksi
cities = ["SUKABUMI", "BANDUNG", "BOGOR", "JAKARTA"]
length = len(cities)
print(cities)
print(cities[0])
print(cities[length - 1])
print(cities[length - 1] [0])
print(cities[length - 1] [len(cities[length - 1])-1])
cities [0] = "BALI"
print(cities)

names = ("Wawan", "Wiwin", "Wowon")
print(names)
print(names[0])

studentData = {
    "name" : "Wahyu",
    "age" : 25,
    "address" : {
        "street" : "Cikakak",
        "number" : 7,
        "province" : "Java"
    },
    "isMarried" : True,
    "hobbies" : ["Basketball"]
}
print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

studentList = [
    {
        "name" : "Wahyu",
        "age" : 25,
        "address" : {
        "street" : "Cikakak",
            "number" : 7,
            "province" : "Java"
        },
        "isMarried" : True,
        "hobbies" : ["Basketball" "Learning"]
    },
    {
        "name" : "Isep",
        "age" : 32,
        "address" : {
            "street" : "Ciberuk",
            "number" : 9,
            "province" : "Java"
        }, 
        "isMarried" : False,
        "hobbies" : ["Football" "Party"]
    }
]

print(studentList[1]["address"]["province"])
print(studentList[0]["hobbies"])

['SUKABUMI', 'BANDUNG', 'BOGOR', 'JAKARTA']
SUKABUMI
JAKARTA
J
A
['BALI', 'BANDUNG', 'BOGOR', 'JAKARTA']
('Wawan', 'Wiwin', 'Wowon')
Wawan
{'name': 'Wahyu', 'age': 25, 'address': {'street': 'Cikakak', 'number': 7, 'province': 'Java'}, 'isMarried': True, 'hobbies': ['Basketball']}
25
Java
Basketball
Java
['BasketballLearning']

In [48]:
#konversi dictionary

list_list = [["Name","Andi"],["Age","30"],["Status", True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rudi"),("Address","Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","Tiger"],["Type", "Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name","Crocodile"),("Type", "Reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

{'Name': 'Andi', 'Age': '30', 'Status': True}
{'Name': 'Rudi', 'Address': 'Bogor'}
{'Name': 'Tiger', 'Type': 'Mamalia'}
{'Name': 'Crocodile', 'Type': 'Reptile'}